<%= simple_form_for(contact, html: {class: "contact-form"}) do |f| %>

  <% if contact.errors.any? %>
    <div>
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this email from being saved:</h2>
      <ul>
      <% contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :subject %>
  <%= f.input :content %>
  <%= f.button :submit %>

<% end %>
